.JXButton {
  --adm-button-border-color: transparent;
  --border-width: 0px;
  --border-style: none;

  position: relative;
  overflow: hidden;

  &Shadow {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.12);
  }
}
