.Text {
  position: relative;
  &Vertical {
    writing-mode: vertical-lr; /*垂直展示*/
    writing-mode: tb-lr; /*兼容IE*/
  }
}
.Flex {
  &Center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
