.MainBox {
  width: 100%;
}

.Title {
  width: 100%;
  background-color: #b5b5b5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Attr {
  width: 100%;
  background-color: white;
  padding: 12px 0;
  :global {
    .adm-space-item {
      padding: 0 12px;
    }
  }
  &Title {
    color: orange;
  }
}

.XiuLianBox {
  width: 100%;
  height: 80px;
  background-color: #b5b5b5;
}

.ContentBox {
  width: 100%;
  padding: 12px 0;
  margin-top: 24px;
  background-color: white;
}
.BottomBox {
  width: 100%;
  padding: 12px 0;
  margin-top: 24px;
  background-color: #b5b5b5;
}
