.back-btn {
  padding: 8px 12px;
  font-size: 14px;
  color: #bab9be;
  cursor: pointer;
  user-select: none;
}

.head {
  width: 100%;
  background: white;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.item {
  padding: 10px;
  background: white;
  color: #777777;
}
