.Container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.Title {
  margin-top: 12px;
  padding: 0 8px;
}

.Desc {
  color: #bab9be;
  padding: 0 8px;
}

.BackBtn {
  padding: 8px 12px 0;
  font-size: 14px;
  color: #bab9be;
  cursor: pointer;
  user-select: none;
}

.Space {
  width: 100%;
  height: 100%;
  flex: 1;
  :global {
    .adm-space-item:last-of-type {
      flex: 1;
    }
  }
}
