@import '@/styles/mixin.less';
.container {
	padding: 2px;
}
.homeTitle {
	width: 100%;
}
.homeContent {
	.flex-center();
}
.copyRight {
	.flex-center();
	position: absolute;
	bottom: 2%;
	width: 100%;
	font-weight: bold;
}
.team {
	.flex-center();
	position: absolute;
	bottom: 5%;
	width: 100%;
	font-weight: bold;
}
