.Space {
  --gap-horizontal: 0px;
  max-width: 100%;
  width: 100%;
}
.Flex {
  &Center {
    justify-content: center;
    align-items: center;
  }
  &Between {
    justify-content: space-between;
    align-items: center;
  }
  &One {
    :global {
      .adm-space-item {
        flex: 1;
      }
    }
  }
}
