.Space {
  --gap-horizontal: 0px;
  --gap-vertical: 0px;
  max-width: 100%;
}
.FlexCenter {
  justify-content: center;
  align-items: center;
}
.FlexBetween {
  justify-content: space-between;
  align-items: center;
}
