.Container {
  width: 100%;
}
.Title {
  font-size: 40px;
  font-weight: bold;
}
.Input {
  width: 100%;
}

.LingGenItem {
  background-color: #aaa;
  width: 80px;
  height: 200px;
  color: white;
}

.Bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
}
