:root {
  --adm-color-primary: #cdcdcd !important;
  --adm-color-warning: #f2aa1f;
}

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.taro_router {
  > .taro_page {
    background-color: #f0eff4 !important;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    > taro-view-core {
      flex: 1;
    }
  }
}
